# This is a basic workflow to help you get started with Actions

name: Build

on:
  push:
    branches: [ "master" ]

jobs:
  triage:
    runs-on: ubuntu-22.04
    steps:
      - name: Test GH action
        run: |
          echo "Testing"
          git clone -b kirkstone https://github.com/yoctoproject/poky.git
          git clone -b kirkstone https://github.com/agherzan/meta-raspberrypi.git
          cd poky
          source ./oe-init-build-env 
          bitbake-layers add-layer ../meta-raspberrypi
          sed -i '/MACHINE ??= "qemux86-64"/s/^/#/' build/conf/local.conf
          echo "MACHINE ?= ""raspberrypi4"" > /build/conf/local.conf
          bitbake core-image-minimal
