name: Build

on:
  push:
    branches: [ "master" ]

jobs:
  build-yocto:
    runs-on: ubuntu-22.04
    steps:
      - name: Test GH action
        run: |
          echo "=== Build Image ==="

          git clone -b kirkstone https://github.com/agherzan/meta-raspberrypi.git
          git clone -b kirkstone https://github.com/yoctoproject/poky.git

          sudo apt-get update
          sudo apt-get install -y \
            build-essential chrpath cpio debianutils diffstat file gawk gcc git \
            iputils-ping libacl1 liblz4-tool locales python3 python3-git python3-jinja2 \
            python3-pexpect python3-pip python3-subunit socat texinfo unzip wget \
            xz-utils zstd
            
          cd poky
          source ./oe-init-build-env

          ls 
          bitbake-layers add-layer ../../meta-raspberrypi
          
          sed -i '/MACHINE ??= "qemux86-64"/s/^/#/' conf/local.conf
          echo 'MACHINE ?= "raspberrypi4"' >> conf/local.conf

          bitbake core-image-minimal
